@import url('https://fonts.googleapis.com/css?family=Lato');
/* CSS Reset */
* {
  /* Remove spacing */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

footer, section {
  padding: 10vh 5%;
}

nav a {
  padding: 15px;
}

.header {
  background-image: url("https://media.giphy.com/media/l4hLyOGRJWNSR8QQ8/giphy.gif");
  /*Stretch image and stop it tiling*/
  background-size: cover;
  /*Full height section
  vh = viewport height and makes the image's height match the browser window*/
  min-height: 100vh;
  color: white;
  text-align: center;
}

#about {
  background-color: #505055;
  padding: 20px;
}

.boxed {
    padding: 5%;
    margin: 3vh auto;
    max-width: 700px;
    background-color: #fff;
    color: #3c3c41;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h1,
h2 {
    text-align: center;
}
h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 30vh;
}
h2 {
    font-size: 2rem;
    line-height: 1.25
}
h3 {
    font-size: 1.5rem;
    line-height: 1.3
    text-align: right;
}
h4 {
    font-size: 1.2rem;
    line-height: 1.3
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration: none
}

a:hover {
    color: #0FA0CE
}

.skills .fa {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    display: block
}

.skills div {
    padding: 1% 3%;
}
.skills div h3 {
    text-align: center;
}
.skills div p {
    text-align: justify;
}

.experience div h3 {
  text-align: left;
}
#map {
  padding: 0;
}
iframe {
  width: 100%;
}

footer {
  background-color: #505055;
  text-align: center;
}

footer a {
    padding: 15px;
    display: inline-block
}
